<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <br />
      <div class="section-title">
        <h2>About</h2>
        <!--Institution-->
        <p>The Technical Higher Secondary School, Puthuppally was established in the year 1992 as the third THSS in
          Kerala
          under the Institute of Human Resources Development, Thiruvananthapuram. The institute provides education from
          standard VIII to XII.
          <br>
          The school has an excellent
          atmosphere for healthy education. It provides an education which strives for excellence in pursuit of
          knowledge and encourages creativity and independent thinking through technical courses. It imparts an all
          round education giving particular emphasis on intellectual, moral and physical development. We offer grand
          infrastructure facilities and also aim at providing higher education standards.     
          <br><br>     
          In addition to this it runs short term courses like Post Graduate Diploma in Computer Application(PGDCA),
          Diploma in Computer Application(DCA),
          Diploma in Data Entry and Office Automation (DDET&OA).</p>

        <br />
        <br />
        </p>
      </div>
      <div class="row">
        <h3 style="text-align: center;">Courses Offered</h3>
        <br />
        <br />
        <br />
        <br />
        <div class="col-lg-4">
          <h4>Higher Secondary Level</h4>
          <ul>
            <li>
              <strong>Physical Science : </strong>
              140 Seats
              <br />
              <p>
                Part I English
                <br />
                Part II Computer Science and IT (Theory & Practical)
                <br />
                Part III Physics (Theory & Practical)
                <br />
                Chemistry (Theory & Practical)
                <br />
                Mathematics (Theory & Practical)
                <br />
                Electronic Systems (Theory & Practical)
              </p>
            </li>
            <li>
              <strong>Integrated Science : </strong>
              90 Seats
              <br />
              <p>
                Part I English
                <br />
                Part II Computer Science and IT (Theory & Practical)
                <br />
                Part III Physics (Theory & Practical)
                <br />
                Chemistry (Theory & Practical)
                <br />
                Mathematics (Theory & Practical)
                <br />
                Biology (Theory & Practical)
                <br />
              </p>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h4>Secondary Level</h4>
          <ul>
            <li>
              <strong>Secondary Level : </strong>
              90 Seats
              <p>Classes VIII - X</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h4>Short Term Courses</h4>
          <ul>
            <li>
              <strong>Post Graduate Diploma In Computer Application (PGDCA)</strong>
              <br />
              Duration :- 1 Year
              <br />
              Eligibility : Degree in any subject
            </li>
            <li>
              <strong>Diploma in Computer Application (DCA)</strong>
              <br />
              Duration :- 6 months
              <br />
              Eligibility : Plus two pass
            </li>
            <li>
              <strong>Diploma in Data Entry and Office Automation (DDET&OA)</strong>
              <br />
              Duration :- 1 Year
              <br />
              Eligibility : SSLC or equivalent
            </li>
          </ul>
        </div>
        <div class="col-lg-5 section-title">
          <br />
          <br />
          <h2 style="text-align: center; font-size: 23px">About School Video</h2>
          <div class="youtube-player" data-id="aJ09OY09_uY" data-related="0" data-control="1" data-info="1"
            data-fullscreen="1"
            style="width:100%;background-color:black;position: relative;cursor: pointer;max-height:150px;height:100%; overflow:hidden;display: block;padding-bottom: 56.25%;">
            <img src="//i.ytimg.com/vi/aJ09OY09_uY/hqdefault.jpg"
              style="bottom: -100%; display: block; left: 0; margin: auto; max-width: 100%; width: 100%;height:auto; position: absolute; right: 0; top: -100%;" />
            <div
              style="background-color: rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5);position:absolute; border: 4px solid #fff;border-radius: 50%;left:50%;top:50%; margin-left:-36px; margin-top:-36px; height: 72px; width: 72px; align-items: center; display: flex; justify-content: center;">
              <div class="triangle"
                style="border-style: solid;height: 0;width: 0;border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #ffffff;border-width: 16px 0 16px 24px;margin-left:6px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
</main>