<!-- End Header -->
<main id="main">
  <!-- ======= Achievements Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <br />
      <div class="section-title">
        <h2>Achievements</h2>
      </div>
      <div
        class="row gallery-container"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-4 col-md-6 gallery-item" data-aos="zoom-in">
          <div>
            <img
              src="assets/annoucements/plustworesult2023.webp"
              class="img-fluid"
              alt="godlyjoswin"
            />
          </div>
        </div>
        <br />
        <br />
        <div class="col-lg-4 col-md-6 gallery-item" data-aos="zoom-in">
          <div>
            <img
              src="assets/annoucements/2023thslc.webp"
              class="img-fluid"
              alt="godlyjoswin"
            />
          </div>
        </div>
        <br />
        <br />
        <div class="col-lg-4 col-md-6 gallery-item" data-aos="zoom-in">
          <div>
            <h5>Kerala State School Sasthrolsavam Working Model State Level A
              Grade Winner</h5>
            <img
              src="assets/annoucements/godlyjoswinachievement.webp"
              class="img-fluid"
              alt="godlyjoswin"
            />
            <img
              src="assets/annoucements/Danger Detecting Robot.webp"
              class="img-fluid"
              alt="godlyjoswin"
            />
          </div>
        </div>
        <br />
        <br />
        <div class="col-lg-4 col-md-6 gallery-item" data-aos="zoom-in">
          <div>
            <h5>All Kerala Technical High School Science Fair 4th Position</h5>
            <img
              src="assets/annoucements/exhibitionwinners.webp"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <br />
        <br />
        <div class="col-lg-4 col-md-6 gallery-item" data-aos="zoom-in">
          <div>
            <h5>Sports - THSS Puthuppally</h5>
            <img
              src="assets/annoucements/footballteam.webp"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <br />
        <br />
        <div class="col-lg-4 col-md-6 gallery-item" data-aos="zoom-in">
          <div>
            <img
              src="assets/annoucements/alvinitquiz.webp"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
        <br />
        <br />
        <div class="col-lg-4 col-md-6 gallery-item" data-aos="zoom-in">
          <div>
            <img
              src="assets/annoucements/vettomproject.webp"
              style="height:100%; width:100%; paddingpx"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Section -->
</main>
<!--End main-->