     <!-- End Header -->
     <main id="main">
      <!-- ======= Activities ======= -->
      <section id="activity" class="activity">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2>Activities</h2>
            <q>Learn as much as you can while you are young, since life becomes too busy later.</q>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="assets/logo/nss-logo.webp" alt="nss" style="height: 110px; width: 110px; display: block;">
                </div>
                <h4>
                  NATIONAL SERVICE SCHEME
                </h4>
                <p>The National Service Scheme (NSS) is a Central Sector Scheme of Government of India, Ministry of Youth Affairs & Sports. It provides opportunity to the student youth of 11th & 12th Class of schools at +2 Board level and student youth of Technical Institution, Graduate & Post Graduate at colleges and University level of India to take part in various government led community service activities & programmes.</p>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-pink">
                <div class="icon">
                  <img src="assets/logo/littlekites.webp" alt="littlekites" style="height: 100px; width: 100px; display: block;">
                </div>
                <h4>
                  Little Kites
                </h4>
                <p>Little KITEs is an initiative rolled out by the KITEs under the general education sector to provide training to students in computing, hardware, electronics, cyber safety, animation, etc.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box iconbox-orange ">
                <div class="icon">
                  <img src="assets/logo/weservebalajana.webp" alt="weserve" style="height: 140px; width: 140px; display: block;">
                </div>
                <h4>
                  Balajanasakhyam
                </h4>
                <p>With the motto,'We Serve', Bala Jana Sakhyam has also been empowering our children with the leadership qualities required to succeed in life.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="assets/logo/juniorredcrosslogo.webp" alt="junior red cross" style="height: 110px; width: 110px; display: block;">
                </div>
                <h4>
                  Junior Red Cross
                </h4>
                <p>The Junior Red Cross was established in the hope of encouraging younger generations to cultivate their humanitarian spirit by understanding the Red Cross principles and ideas, and by participating actively in the Movement. The overarching idea behind the Junior Red Cross is to enable the country’s youth, so that they may one day contribute, in their own way, to the establishment of world peace and the welfare of Mankind.</p>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="assets/logo/nalla-padam-logo.webp" alt="nalla padam" style="height: 110px; width: 180px; display: block;">
                </div>
                <h4>
                NALLA PADAM
                </h4>
                <p>Nalla Padam is an initiative of Malayala Manorama to promote social and cultural activities among schools. It aims to channel the youth energy to constructive areas. The project has been running for several years now and has been successful in uncovering student talents and promoting social service activities by schools.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="assets/logo/snehithalogo.webp" alt="snehitha" style="height: 110px; width: 110px; display: block;">
                </div>
                <h4>
                  Snehitha Gender Help Desk
                </h4>
                <p>Snehitha is a 24 hours working gender help desk. It works to avail support and help to the shield less women in society.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="assets/logo/womensforumlogo.webp" alt="women's forum" style="height: 110px; width: 110px; display: block;">
                </div>
                <h4>
                  Women's Forum
                </h4>
                <p>The Women's Forum in Kerala schools serves as a vital platform for empowering young women and promoting gender equality. It provides a safe space for students to voice their concerns, discuss pertinent issues, and advocate for their rights. Through engaging activities, workshops, and awareness campaigns, the forum helps cultivate a supportive and inclusive environment that fosters the growth and development of girls in school.</p>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="assets/logo/literaryclublogo.webp" alt="literay club" style="height: 110px; width: 110px; display: block;">
                </div>
                <h4>
                Literary Club
                </h4>
                <p>Literary club plays a very important role in defining the subtle basics of language and culture in students. In today's world of electronic media, students are loosing their relation to the society and the natural world in general. Literary activities are very important in schools in this context. Students are given a large number of opportunities to develop their language and expression skills by means of activities and competitions, which extends to the surrounding societies and their issues.</p>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="assets/logo/artsportslogo.webp" alt="arts n sports" style="height: 110px; width: 110px; display: block;">
                </div>
                <h4>
                  Arts and Sports Club
                </h4>
                <p>The Arts and Sports Club in our school is a vibrant community where students can unleash their creative and athletic potential. It offers a diverse range of activities, including visual arts, performing arts, and a variety of sports disciplines. Through engaging workshops, competitions, and exhibitions, the club nurtures talent, promotes teamwork, and encourages students to explore their passions beyond the classroom.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="assets/logo/birdclublogo.webp" alt="bird club" style="height: 110px; width: 110px; display: block;">
                </div>
                <h4>
                  Bird's Club
                </h4>
                <p>The Birds Club is a special group where young students observe and learn about different types of birds. They have the opportunity to watch birds in their natural habitats and discover interesting facts about them. The club encourages students to become keen observers and appreciate the beauty of birds around us.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="assets/logo/ecoclublogo.webp" alt="eco club" style="height: 110px; width: 110px; display: block;">
                </div>
                <h4>
                  Eco Club
                </h4>
                <p>The Eco Club in our school promotes environmental awareness and sustainable practices through activities like tree planting and waste management campaigns. Students learn about the importance of taking care of the environment and are empowered to make a positive impact. The club encourages responsible actions and fosters a sense of environmental consciousness among its members.</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <img src="assets/logo/socialsciencelogo.webp" alt="social science" style="height: 110px; width: 110px; display: block;">
                </div>
                <h4>
                  Social Science Club
                </h4>
                <p>The Social Science Club in our school is an engaging community that explores various aspects of human society and its development. Through interactive discussions, presentations, and projects, students delve into subjects like history, geography, and sociology. The club aims to enhance students' understanding of the world, fostering critical thinking and a broader perspective on social issues.</p>
              </div>
            </div>

          </div>
        </div>
      </section>
      <!-- End activity Section -->
    </main>
    <!-- End #main -->

