    <main id="main">
      <!-- ======= Admissions Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2>Admissions</h2>
          </div>                
            <!--Portals-->
            <div class="row">
            <div class="col-lg-12 pt-4 pt-lg-0 content lists">
                <ul>
                    <li><img class="d-none d-lg-block" data-aos="zoom-in" style="height: 450px; width: 800px;" src="assets/annoucements/admissions2023.webp" alt=""></li> <!--Desktop veiw-->
                    <li><img class="d-block d-lg-none" data-aos="zoom-in" style="height: 40%; width: 100%;" src="assets/annoucements/admissions2023.webp" alt=""></li> <!--mobile veiw-->
                    <br>
                    <li><i class="fas fa-file-pdf"></i>
                      <a href="http://ihrd.ac.in/images/stories/admin23/8pihrd.pdf" target="_blank">School Prospectus</a>
                    </li>                    
                    <li><i class="fas fa-file-alt"></i>
                        <a href="http://ihrd.ac.in/images/stories/admin23/8aihrd.pdf" target="_blank">Application Form THSS for class VII</a>
                    </li>
                    <li><i class="fa-solid fa-link"></i>
                    <a href="http://ihrd.kerala.gov.in/ths" target="_blank">VIII Admissions Portal</a>
                    </li>
                    <li><i class="fa-solid fa-link"></i>
                    <a href="http://ihrd.ac.in/index.php/admissions/admission-in-technical-higher-secondary-school" target="_blank">XI Admissions Portal</a>
                    </li>
                </ul>
                </div>
            </div>
          </div>
      </section>

      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <h3 style="text-align: center;">Courses Offered</h3>
            <br>
            <br>
            <div class="col-lg-4"> 
              <h4>Higher Secondary Level</h4>             
              <ul>
                <li>
                  <strong>Physical Science : </strong> 140 Seats <br>
                  <p> Part I English <br> Part II Computer Science and IT (Theory & Practical) <br> Part III Physics (Theory & Practical) <br> Chemistry (Theory & Practical) <br> Mathematics (Theory & Practical) <br> Electronic Systems (Theory & Practical) </p>
                </li>
                <li>
                  <strong>Integrated Science : </strong> 90 Seats <br>
                  <p> Part I English <br> Part II Computer Science and IT (Theory & Practical) <br> Part III Physics (Theory & Practical) <br> Chemistry (Theory & Practical) <br> Mathematics (Theory & Practical) <br> Biology (Theory & Practical) <br>
                  </p>
                </li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h4>Secondary Level</h4>
              <ul>
                <li>
                  <strong>Secondary Level : </strong> 90 Seats
                  <p>Classes VIII - X</p>
                </li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h4>Short Term Courses</h4>
              <ul>
                <li>
                  <strong>Post Graduate Diploma In Computer Application (PGDCA)</strong>
                  <br> Duration :- 1 Year <br> Eligibility : Degree in any subject
                </li>
                <li>
                  <strong>Diploma in Computer Application (DCA)</strong>
                  <br> Duration :- 6 months <br> Eligibility : Plus two pass
                </li>
                <li>
                  <strong>Diploma in Data Entry and Office Automation (DDET&OA)</strong>
                  <br> Duration :- 1 Year <br> Eligibility : SSLC or equivalent
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

    <!--Important Links-->
      <section id="faculty" class="faculty">
        <div class="container" data-aos="fade-right">
            <div class="section-title">
               <h3>Quick Links</h3>
            </div>
            <div class="row">
            <div class="col-lg-12 pt-4 pt-lg-0 content lists">
              <ul>
                <li><i class="fa-solid fa-link"></i><a href="http://www.ihrd.ac.in/" target="_blank">  Institute of Human Resources Development</a></li>
                <li><i class="fa-solid fa-link"></i><a href="http://dhsekerala.gov.in/" target="_blank">  Higher Secondary Education</a></li>
                <li><i class="fa-solid fa-link"></i><a href="https://samagra.kite.kerala.gov.in/" target="_blank">  Samagra' eResource Portal</a></li> 
                <li><i class="fa-solid fa-link"></i><a href="https://www.scert.kerala.gov.in" target="_blank">  State Council of Educational Research & Training (SCERT)</a></li>
                <li><i class="fa-solid fa-link"></i><a href="https://scholarships.gov.in/" target="_blank"> National Scholarship Portal</a></li>
                <li><i class="fa-solid fa-link"></i><a href="https://www.egrantz.kerala.gov.in/" target="_blank"> E-Grantz Scholarships Portal</a></li>
                <li><i class="fa-solid fa-link"></i><a href="https://www.cee.kerala.gov.in/" target="_blank">  Commissionarate of Entrance Examinations-Kerala</a></li>
                <li><i class="fa-solid fa-link"></i><a href="https://nta.ac.in/" target="_blank">  National Testing Agency</a></li>
                <li><i class="fa-solid fa-link"></i><a href="http://highereducation.kerala.gov.in/" target="_blank">  Higher Education Department</a></li>
                <li><i class="fa-solid fa-link"></i><a href="https://kerala.gov.in/" target="_blank">  Government of Kerala</a></li>
               </ul>
            </div>
        </div>
        </div>
      </section>
</main>
  