<body class="alumni-page">
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <br />
        <div class="section-title">
          <h2>Alumni Registration</h2>
        </div>
        <div class="row">
          <!--
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLScFdELQpCX7YQ25nUJUz7BoTVuyUJuapp8vM3fgMds-vjVrUw/viewform?embedded=true"
          width="640"
          height="1200"
          frameborder="0"
          marginheight="0"
          marginwidth="0"
        >Loading…</iframe>
        -->
          <div class="update-message">
            <p>This page will be updated soon. Please check back later.</p>
          </div>

        </div>
      </div>
    </section>
</body>
<!-- End About Section -->
</main>