    <main id="main">
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2>Contact</h2>
            <p></p>
          </div>
          <div class="row mt-5">
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-building"></i>
                  <p>
                    The Principal
                    Technical Higher Secondary School   Puthuppally, Puthuppally  P.O.,
                    Kottayam District - 686011</p>
                </div>
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>Phone : <a href="tel:0481-2351485">0481-2351485</a></p>
                  <p>Mobile : <a href="tel:+918547005013">8547005013</a></p>
                  <p>Principal : <a href="tel:+919496544839">9496544839</a></p>
                </div>
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email: </h4>
                  <a href="mailto:thssputhuppally@ihrd.ac.in" style="padding:20px">thssputhuppally@ihrd.ac.in</a>
                </div>
                <br>
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location: </h4>
                  <p>Technical Higher Secondary School Puthuppally, Puthuppally P.O., Kottayam District - 686011</p>
                  <p><a target="_blank" href="https://goo.gl/maps/iqcpX83mEhqFVSWKA" style="color: #0A66C2">View On map</a></p> <br>
                  <p> Nearest Bus Station : Kottayam - 10 KMs <br>Nearest Railway station : Kottayam - 07 KMs </p>
                </div>
              </div>
            </div>
            <!--Space for php form -->
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!--End main-->
