<main id="main">
      <!-- ======= Section ======= -->
      <section id="gallery" class="gallery">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2>Facilities</h2>
            <br>
          </div>
          <div class="row gallery-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 gallery-item">
              <div>
                <img src="assets/img/PhysicsLab.webp" class="img-fluid" alt="">
                <div class="image-info">Physics Lab</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 gallery-item">
              <div>
                <img src="assets/img/chemisrtylab.webp" class="img-fluid" alt="">
                <div class="image-info">Chemistry Lab</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 gallery-item">
              <div>
                <img src="assets/img/biologylab.webp" class="img-fluid" alt="">
                <div class="image-info">Biology Lab</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 gallery-item">
              <div>
                <img src="assets/img/computerlab.webp" class="img-fluid" alt="">
                <div class="image-info">Computer Lab</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 gallery-item">
              <div>
                <img src="assets/img/electronicslab.webp" class="img-fluid" alt="">
                <div class="image-info">Electronics Lab</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 gallery-item">
              <div>
                <img src="assets/img/library.webp" class="img-fluid" alt="">
                <div class="image-info">Library</div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 gallery-item">
              <div>
                <img src="assets/img/cover.webp" class="img-fluid" alt="">
                <div class="image-info">School Compound</div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </section>
      <!-- End Section -->
    </main>
    <!-- End #main -->