<main id="main">   
      <!--Faculties -->
      <section id="faculty" class="faculty">
        <div class="container" data-aos="fade-up">
          <br>
          <div class="section-title">
            <h2>Faculties</h2>
          </div>
          <div>
            <img src="" alt="">
          </div>
        <div class="row">       
              <div class="content" style="display: flex; align-items: center; justify-content: center;">
                <ul>     
                  <li><i class="fa-solid fa-chalkboard-user"></i> Biju Philip (Principal) </li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Abhilash V S (PE)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Aiswarya Lakshmi (Computer)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Ambily VR (English)</li>  
                  <li><i class="fa-solid fa-chalkboard-user"></i> Aswathy Bai K B (Zoology)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Ayana S Nair (Mathematics)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Bindhumol S (Botany)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Chandri A Sadanandan (Malayalam)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Christina kuriakose (Mathematics)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Celine Cyriac (Computer)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Jyothilakshmi G (Electronics)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Joseena VJ (Social)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Mathew P Jacob (Chemistry)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Meenukutty PS (Electronics)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Neethu Suresh (English)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Praseetha K R (English)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Renjith Skaria (Physics)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Rinumol Mathew (Chemistry)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Sunitha Achiyamma Mathew (Physics)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Syama Mohan (Computer)</li>
                  <li><i class="fa-solid fa-chalkboard-user"></i> Veni M (Mathematics)</li>
               </ul>
              </div>
            </div>
        </div>
            <br>
            <br>
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Staff</h2>
            </div>
            <div class="row">
              <div class="content" style="display: flex; align-items: center; justify-content: center;">
                <ul>
                  <li><i class="fa-regular fa-user"></i> Anilkumar M U</li>
                  <li><i class="fa-regular fa-user"></i> Kuriakose MV</li>
                  <li><i class="fa-regular fa-user"></i> Manoj PT</li>
                  <li><i class="fa-regular fa-user"></i> Muraleedharan C</li>
                  <li><i class="fa-regular fa-user"></i> Nancy Annie Jacob</li>
                  <li><i class="fa-regular fa-user"></i> Rajasree R</li>
                  <li><i class="fa-regular fa-user"></i> Sandhya Ram</li>
                  <li><i class="fa-regular fa-user"></i> Sheebamol KK</li>
                </ul>
              </div>
            </div>
          </div>
      </section>
      <!--End of Faculties-->
      <br>
    </main>