<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center" data-aos="zoom-in">
    <img src="assets/img/logo.png" alt="LOGO" />
    <a href="/about" class="btn-about">About Us</a>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <div class="row">
    <!-- Announcements Section -->
    <div class="container col-lg-6" data-aos="fade-up">
      <div class="row">
        <div class="col-xs-12">
          <div class="card panel-default">
            <div class="card-header">
              <span class="glyphicon glyphicon-list-alt"></span><a
                href="/"
              >Announcements</a>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xs-12">
                  <ul class="news">
                    <li class="news-item" style="display: none;">
                      <table cellpadding="4">
                        <tr>
                          <td><img src="assets/logo/new.gif" alt="new" /></td>
                          <td>
                            <p>For Alumni Registration  <a class="btn btn-info" href="/alumni" role="button">Click here</a></p>
                          </td>
                        </tr>
                      </table>
                    </li>
                    <li class="news-item">
                      <table cellpadding="4">
                        <tr>
                          <td>
                            <a href="/admissions">
                              <img
                                style="height: 40%; width: 100%;"
                                src="assets/annoucements/admissions2023.webp"
                                alt="admissions2023"
                              />
                            </a>
                          </td>
                        </tr>
                      </table>
                    </li>
                    <li class="news-item">
                      <table cellpadding="4">
                        <tr>
                          <td><img src="assets/logo/new.gif" alt="new" /></td>
                          <td>
                            <p>Admissions Started for
                              Secondary/Higher Secondary(PLUS ONE) Classes in
                              THSS Puthuppally
                            For more:
                            <a
                              style="color: rgb(109, 143, 223);"
                              href="/admissions"
                              target="_blank"
                            >Admissions 2023-24</a>
                            </p>
                          </td>
                        </tr>
                      </table>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Announcements -->

    <!-- Achievements -->
    <div class="container col-lg-6" data-aos="fade-up">
      <div class="row">
        <div class="col-xs-12">
          <div class="card panel-default">
            <div class="card-header">
              <span class="glyphicon glyphicon-list-alt"></span><a
                href="/achievements"
              >Achievements</a>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xs-12">
                  <ul class="news">
                    <li class="news-item">
                      <div class="slider scrollable-wrapper">
                        <img
                          id="news-item-img"
                          src="assets/annoucements/plustworesult2023.webp"
                          alt="Desktop"
                        />
                        <img
                          id="news-item-img"
                          src="assets/annoucements/2023thslc.webp"
                          alt="Desktop"
                        />
                        <img
                          id="news-item-img"
                          src="assets/annoucements/godlyjoswin.webp"
                          alt="Desktop"
                        />
                        <img
                          id="news-item-img"
                          src="assets/annoucements/exhibitionwinners.webp"
                          alt="Desktop"
                        />
                        <img
                          id="news-item-img"
                          src="assets/annoucements/alvinitquiz.webp"
                          alt="Desktop"
                        />
                        <img
                          id="news-item-img"
                          src="assets/annoucements/footballteam.webp"
                          alt="Desktop"
                        />
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Achievements -->

  </div>
</main>