<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}} - Technical HSS Puthuppally</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta property="og:image" content="assets/img/apple-touch-icon.png" />
  <meta property="og:title" content="The Technical Higher Secondary School, Puthuppally, under the Institute of Human Resources Development (IHRD)" />
  <meta property="og:description" content="The Technical Higher Secondary School, Puthuppally, under the Institute of Human Resources Development (IHRD)" />
  <meta property="og:url" content="https://thssputhuppally.ihrd.ac.in" />
  <meta content="Technical Higher Secondary School Puthuppally" name="description">
  <meta content="Technical Higher Secondary School Puthuppally" name="keywords">
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="icon" type="image/x-icon" href="assets/img/icon.png" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />  
  <!--Designed by Godly K Mathews 2021-2023 plustwo Batch-->
</head>

<body>

  {{>user-header}}

  {{{body}}}

  {{>preloader}}

  <!--footer-->
  <footer class="bg-light text-center text-white">
    <!--Social Links-->
    <div class="footer-social-links d-block d-lg-block">
      <a href="#">Follow us on: </a>
      <a href="https://www.facebook.com/profile.php?id=100088542199274" class="facebook" target="_blank"><i
          class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/thss_puthuppally/" class="instagram" target="_blank"><i
          class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/company/technical-higher-secondary-school-puthuppally/" target="_blank"
        class="linkedin"><i class="bi bi-linkedin"></i></a>
      <a href="https://www.youtube.com/@thssputhuppally" class="youtube" target="_blank"><i
          class="bi bi-youtube"></i></a>
    </div>
    <!-- Designed By. -->
    <div class="text-center p-3 designedby">
      Web Design:
      <a href="https://godlykmathews.github.io/" target="_blank" style="font-size: 15px;">Godly K Mathews</a> +2 PS
      (2021-2023)
      <!-- Linkedin -->
      <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;"
        href="https://www.linkedin.com/in/godly-k-mathews-64552622a/?originalSubdomain=in" target="_blank"
        role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <p style="color: darkslategrey; font-size: 11px; margin: 0; padding: 0;">&copy; 2023 THSS Puthuppally School. All rights reserved.</p>
    </div>
  </footer>

  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="https://kit.fontawesome.com/b46ae1a2df.js" crossorigin="anonymous"></script>
  <script src="assets/js/main.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
  <script> (function () { var v = document.getElementsByClassName("youtube-player"); for (var n = 0; n < v.length; n++) { v[n].onclick = function () { var iframe = document.createElement("iframe"); iframe.setAttribute("src", "//www.youtube.com/embed/" + this.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&rel=" + this.dataset.related + "&controls=" + this.dataset.control + "&showinfo=" + this.dataset.info); iframe.setAttribute("frameborder", "0"); iframe.setAttribute("id", "youtube-iframe"); iframe.setAttribute("style", "width: 100%; height: 100%; position: absolute; top: 0; left: 0;"); if (this.dataset.fullscreen == 1) { iframe.setAttribute("allowfullscreen", ""); } while (this.firstChild) { this.removeChild(this.firstChild); } this.appendChild(iframe); }; } })(); </script>


</body>

</html>